  <div class="container">
    <div class="padding">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="./assets/image/logo.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Add To Inventory</h4>
                      <a routerLink="addInventory" class="btn btn-primary">Add</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="./assets/image/logo.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Action On Inventory</h4>
                      <a routerLink="updateInventory" class="btn btn-primary">Update</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="./assets/image/logo.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Show Inventory</h4>
                      <a routerLink="showInventory" class="btn btn-primary">Show</a>
                    </div>
                  </div>
            </div>
          </div>
        </div>
    </div>
    
    
  